<br>
<form action="<%= products_path %>" method="get" >
   <div class=field>
     <%= label_tag(:Por_categoria) %>
        <input type="text" name="category" value="<%= params[:category] %>">
    </div>
</form>
